  
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.829);
} 
#home{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.829);
}
#topimage{
    width: 15vw;
    height: 20vw;
    position: absolute;
    border-radius: 10px;
    top: 5%;
    left: 41%;
    overflow: hidden;
    
}
img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
#btm{
    width: 15vw;
    height: 20vw;
    position: absolute;
    border-radius: 10px;
    bottom: 0%;
    left: 10%;
    bottom: -15%;
    overflow: hidden;
}
#btmimg{
    width: 15vw;
    height: 20vw;
    position: absolute;
    border-radius: 10px;
    bottom: 0%;
    right: 10%;
    bottom: 0%;
    overflow: hidden;
}
#a{
    width: 75vw;
    height: 7vw;
    z-index: 99999;   
    position: absolute;
    color: whitesmoke;
    top: 25%;
    left: 15%;
    padding: 2px 22px;
    overflow: hidden;
}
#b{
    
    width: 75vw;
    height: 7vw;
    overflow: hidden;
    padding: 2px 30px;
    z-index: 99999;
    position: absolute;
    color: whitesmoke;
    top: 40%;
    left: 15%;
}

#c{
    width: 95vw;
    height: 8vw;
    padding: 2px 50px;
    overflow: hidden;
     
    z-index: 99999;
    
    position: absolute;
    color: whitesmoke;
    top: 55%;
    left: 7%;
}
h3{
    position: absolute;
    font-size: 7vw;
    font-weight: 400;
}
#b h3{
    left: 9%;
}
#a h4{
    font-size: 7vw;
    font-weight: 300;
    position: absolute;
    left: 15%;
    top: 80%;
    
}
#b h4{
    font-size: 6.4vw;
    font-weight: 400;
    position: absolute;
    left: 5%;
    top: 80%;
}
#c h4{
    font-size: 8vw;
    font-weight: 300;
    position: absolute;
    left: 20%;
    top: 80%;
}

h1{
    font-size: 14vw;
    color: #fff;
    position: absolute;
    z-index: 999999;
    top: 150%;
    left: 20%;
}


@media(max-width:500px){

    #topimage{
        width: 31vw;
        height: 45vw;
        left: 35%;
        top: 5%;
    }

    #btm{
        width: 31vw;
        height: 45vw;
        
    }
    #btmimg{
        width: 31vw;
        height: 45vw;
        bottom: 17%;
    }
    #a{
        height: 8vw;
        top: 35%;
        left: 12%;
    }
    #b{
        top: 42%;
        left: 15%;
        height: 7vw;
    }
    #b h3{
        top: 0%;
    }
    #c{
        top: 48%;
        left: -1%;
    }
    #a h4{
        left: 16%;
    }

    #b h4{
        left: 4%;
        font-weight: 300;
    }
    #c h4{
 
        left: 26%;
    }

    h1{
        font-size: 21vw;
        left: 5%;
    }


}